.App {
  font-family: 'Times New Roman', Times, serif !important;
  text-align: center;
}

header {
  height: 10vh;
  padding: 2vh 25vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: auto;
  height: 8vh;
}

header nav {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  color: #495e57;
  font-weight: 500;
  font-size: 1.2em;
  text-decoration: none;
}

header nav a:hover{
  font-weight: 500;
  font-size: 1.4em;
  color: #f4ce14;
}

main {
  height: 70vh;
  padding: 2vh 25vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #495e57;
  color: white;
}

main img {
  height: auto;
  width: 25vw;
  margin-left: 1em;
  border-radius: 2rem;
}

h2 {
  color: #f4ce14;
  font-size: 30pt;
}

h3 {
  font-size: 20pt;
}

main p {
  font-size: 16pt;
  max-width: 70%;
}

.button {
  background-color: #f4ce14;
  color: black;
  margin-top: 1em;
  padding: 2vh 4vw;
  border: none;
  border-radius: 30px;
  font-size: 16pt;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto !important;
}

footer {
  height: 20vh;
  padding: 2vh 25vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer img {
  height: 5em;
}

footer p {
  font-size: 1em;
  font-weight: 500;
  color: #495e57;
}

.footer-nav {
  width: 30vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.footer-nav-list p{
  font-size: 0.8em;
  font-weight: 400;
  margin: 3px 0px !important;  
  color: #495e57;
}

form {
  display: grid;
  max-width: 200px;
  gap: 20px;
}

.form-sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1em 0em;
}

label {
  font-size: medium;
  font-weight: 500;
  width: 15vw;
}

input, select {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  width: 15vw;
  background-color: transparent;
  border: none;
  margin-top: 1em;
  border-bottom: 3px solid #f4ce14;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) {
  header nav {
    display: none;
  }
 }
 
@media all and (max-width: 480px) { 
  header nav {
    display: none;
  }
}